<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main >
            <div class="grid">
        <div class="product__title ">
            <h1><%= product.title %></h1>
            <hr>
            
                <div class="product__title ">
                <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
            </div>
            <div class="product__price">
            <h2><%= product.price %></h2>
        </div>
        <p class="product__description">
            <%= product.description %></p>
        
        </div>
        <div class="grid">
        </main>
        <%- include('../includes/end.ejs') %>
    